.header-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  height: 100vh;
}
.container-custome {
  margin-left: 20vh;
  margin-right: 20vh;
  display: flex;
}
@media only screen and (max-width: 600px) {
  .container-custome {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    overflow: scroll;
  }
}